body {
    font-family: 'Poppins', sans-serif;
}
.text-center {
    text-align: center;
}

/* Header Section */
header {
    height: 500px;
    padding: 100px 0; 
}
.section-1 {
    background-image: url("images/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}

.self-content {
    padding: 100px 0;
}

.self-content h2 {
    color: #141414;
    font-weight: 500;
}

.self-content h1 {
    color: #EC4E8B;
    letter-spacing: 1.5px;
}

.self-content p {
    color: #EC4E8B;
    margin-bottom: 30px;
}

a.button-1 {
    padding: 10px 28px;
    background-image: linear-gradient(45deg, #e3b8c6, #EC4E8B);
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}

/* Section Two */
section {
    height: 500px;
    padding: 100px 0;   
}
.section-1 {
    background-image: url("images/biography-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.biography {
    padding: 130px 0;
}

.biography h2 {
    font-size: 30px;
    font-weight: 400;
}

.biography p {
    color: #EC4E8B;
    margin-bottom: 40px;
}
section.section-2 {
    margin-bottom: 100px;
}

/* Latest Work */
.latest-work {
    background-image: url("images/latest-work-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.section-title h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}

.latest-work-demo img {
    max-width: 301px;
    float: left;
    padding: 50px 50px;
}

/* Client */
.client-content  h3 {font-weight: 400;margin-bottom: -13px;}

.client-content h4 {
    font-size: 14px;
    opacity: .5;
    font-weight: 300;
    margin-bottom: 40px;
}

.client-content p {
    width: 400px;
    margin: 0 auto;
    padding-bottom: 60px;
}
.message a {
    background-image: linear-gradient(45deg, #e3b8c6, #EC4E8B);
    width: 500px;
    display: block;
    margin: 0 auto;
    padding: 17px;
    border-radius: 10px;
    color: #fff;
    font-weight: 300;
}

.message a h3 {
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.message a h2 {
    font-weight: 500;
}

/* Footer */
footer.footer.text-center {
    font-size: 14px;
    opacity: .5;
    margin-bottom: 30px;
}